In [1]:
import pandas as pd

pd.set_option('display.precision', 3)
from util import *

# Задание матриц

In [2]:
criteria = []
names_criteria = []
number_criteria = None

with open('./resources/criteria.csv', 'r', encoding='utf-8-sig') as csvfile: 
    csvreader = csv.reader(csvfile, delimiter=';')
    names_criteria = next(csvreader)
    number_criteria = len(names_criteria)
    for row in csvreader:
        parsed_row = [parse_value(item) for item in row]
        criteria.append(parsed_row)
        
all_alternatives = []
names_alternatives = []
for i in range(number_criteria):
    all_alternatives.append([])


for alt in range(number_criteria):
    with open(f'./resources/alternative_{alt + 1}.csv', 'r', encoding='utf-8-sig') as csvfile:
        csvreader = csv.reader(csvfile, delimiter=';')
        names_alternatives = next(csvreader)
        for row in csvreader:
            parsed_row = [parse_value(item) for item in row]
            all_alternatives[alt].append(parsed_row)

# Расчёты

## Критерии

In [3]:
matrix_paired_comparisons_criteria = get_matrix_paired_comparisons(criteria, names_criteria)
priority_vectors_criteria = get_priority_vectors(criteria, names_criteria)

display(Markdown(f"#### Матрица парных сравнений для второго уровня доминантной иерархии с векторами приоритетов"))
result_matrix_criteria = pd.concat([matrix_paired_comparisons_criteria, priority_vectors_criteria], axis=1)
display(result_matrix_criteria)

lambda_max_alternative = get_lambda_max(matrix_paired_comparisons_criteria, priority_vectors_criteria).iloc[0]
consistency_index_criteria = get_consistency_index(lambda_max_alternative, len(criteria))
consistency_relation_criteria =  get_consistency_relation(consistency_index_criteria, len(criteria))

display(Markdown(rf"#### Максимальное собственное значение: $\lambda_{{max}} = {lambda_max_alternative:.4f}$"))
display(Markdown(f"#### Индекс согласованности: ИС = {consistency_index_criteria:.4f}"))
display(Markdown(f"#### Отношение согласованности: ОС = {consistency_relation_criteria:.4f}"))
save_matrix_paired_comparisons_to_xlsx(result_matrix_criteria, lambda_max_alternative, consistency_index_criteria, consistency_relation_criteria, "Матрица_Критериев")
display(HTML("<hr>"))

#### Матрица парных сравнений для второго уровня доминантной иерархии с векторами приоритетов

,Стоимость ТС,Стоимость обслуживания ТС,Надёжность,Безопасность,Дизайн,Комфорт,Мощность,Год выпуска,Вектор приоритетов
Стоимость ТС,1,3,2,4,6,5,7,8,0.328
Стоимость обслуживания ТС,1/3,1,1/2,2,4,3,5,6,0.159
Надёжность,1/2,2,1,3,5,4,6,7,0.232
Безопасность,1/4,1/2,1/3,1,3,2,4,5,0.107
Дизайн,1/6,1/4,1/5,1/3,1,1/2,2,3,0.048
Комфорт,1/5,1/3,1/4,1/2,2,1,3,4,0.071
Мощность,1/7,1/5,1/6,1/4,1/2,1/3,1,2,0.033
Год выпуска,1/8,1/6,1/7,1/5,1/3,1/4,1/2,1,0.023

#### Максимальное собственное значение: $\lambda_{max} = 8.2877$

#### Индекс согласованности: ИС = 0.0411

#### Отношение согласованности: ОС = 0.0291

Файл успешно сохранён: out\Матрица_Критериев.xlsx

## Альтернативы

In [4]:
priority_vectors_alternatives = []

for i in range(number_criteria):

    alternative = all_alternatives[i]
    display(Markdown(f"### Критерий: {names_criteria[i]}"))

    matrix_paired_comparisons_alternative = get_matrix_paired_comparisons(alternative, names_alternatives)
    priority_vectors_alternative = get_priority_vectors(alternative, names_alternatives)
    priority_vectors_alternatives.append(priority_vectors_alternative['Вектор приоритетов'].to_numpy())

    display(Markdown(f"#### Матрица парных сравнений для третьего уровня доминантной иерархии для {names_criteria[i]} с векторами приоритетов"))
    result_matrix_alternative = pd.concat([matrix_paired_comparisons_alternative, priority_vectors_alternative], axis=1)
    display(result_matrix_alternative)

    lambda_max_alternative = get_lambda_max(matrix_paired_comparisons_alternative, priority_vectors_alternative).iloc[0]
    consistency_index_alternative = get_consistency_index(lambda_max_alternative, len(alternative))
    consistency_relation_alternative =  get_consistency_relation(consistency_index_alternative, len(alternative))

    display(Markdown(rf"#### Максимальное собственное значение: $\lambda_{{max}} = {lambda_max_alternative:.4f}$"))
    display(Markdown(f"#### Индекс согласованности: ИС = {consistency_index_alternative:.4f}"))
    display(Markdown(f"#### Отношение согласованности: ОС = {consistency_relation_alternative:.4f}"))
    save_matrix_paired_comparisons_to_xlsx(result_matrix_alternative, lambda_max_alternative, consistency_index_alternative, consistency_relation_alternative, f"Матрица_Альтернатив_{names_criteria[i]}", names_criteria[i])
    display(HTML("<hr>"))

### Критерий: Стоимость ТС

#### Матрица парных сравнений для третьего уровня доминантной иерархии для Стоимость ТС с векторами приоритетов

,Kia Rio,Volkswagen Golf,Toyota Corolla,Skoda Octavia,BMW 3 Series,Hyundai Solaris,Вектор приоритетов
Kia Rio,1,3,2,2,5,1,0.276
Volkswagen Golf,1/3,1,1/2,1/2,3,1/3,0.092
Toyota Corolla,1/2,2,1,1,4,1/2,0.157
Skoda Octavia,1/2,2,1,1,4,1/2,0.157
BMW 3 Series,1/5,1/3,1/4,1/4,1,1/5,0.043
Hyundai Solaris,1,3,2,2,5,1,0.276

#### Максимальное собственное значение: $\lambda_{max} = 6.0624$

#### Индекс согласованности: ИС = 0.0125

#### Отношение согласованности: ОС = 0.0101

Файл успешно сохранён: out\Матрица_Альтернатив_Стоимость ТС.xlsx

### Критерий: Стоимость обслуживания ТС

#### Матрица парных сравнений для третьего уровня доминантной иерархии для Стоимость обслуживания ТС с векторами приоритетов

,Kia Rio,Volkswagen Golf,Toyota Corolla,Skoda Octavia,BMW 3 Series,Hyundai Solaris,Вектор приоритетов
Kia Rio,1,2,1/2,1,4,1,0.179
Volkswagen Golf,1/2,1,1/3,1/2,3,1/2,0.101
Toyota Corolla,2,3,1,2,5,2,0.316
Skoda Octavia,1,2,1/2,1,4,1,0.179
BMW 3 Series,1/4,1/3,1/5,1/4,1,1/4,0.045
Hyundai Solaris,1,2,1/2,1,4,1,0.179

#### Максимальное собственное значение: $\lambda_{max} = 6.0489$

#### Индекс согласованности: ИС = 0.0098

#### Отношение согласованности: ОС = 0.0079

Файл успешно сохранён: out\Матрица_Альтернатив_Стоимость обслуживания ТС.xlsx

### Критерий: Надёжность

#### Матрица парных сравнений для третьего уровня доминантной иерархии для Надёжность с векторами приоритетов

,Kia Rio,Volkswagen Golf,Toyota Corolla,Skoda Octavia,BMW 3 Series,Hyundai Solaris,Вектор приоритетов
Kia Rio,1,2,1/3,1/2,1/4,2,0.097
Volkswagen Golf,1/2,1,1/4,1/3,1/5,1,0.059
Toyota Corolla,3,4,1,2,1/2,4,0.249
Skoda Octavia,2,3,1/2,1,1/3,3,0.157
BMW 3 Series,4,5,2,3,1,5,0.379
Hyundai Solaris,1/2,1,1/4,1/3,1/5,1,0.059

#### Максимальное собственное значение: $\lambda_{max} = 6.0807$

#### Индекс согласованности: ИС = 0.0161

#### Отношение согласованности: ОС = 0.0130

Файл успешно сохранён: out\Матрица_Альтернатив_Надёжность.xlsx

### Критерий: Безопасность

#### Матрица парных сравнений для третьего уровня доминантной иерархии для Безопасность с векторами приоритетов

,Kia Rio,Volkswagen Golf,Toyota Corolla,Skoda Octavia,BMW 3 Series,Hyundai Solaris,Вектор приоритетов
Kia Rio,1,1/2,1/3,1/2,1/4,1,0.074
Volkswagen Golf,2,1,1/2,1,1/3,2,0.132
Toyota Corolla,3,2,1,2,1/2,3,0.228
Skoda Octavia,2,1,1/2,1,1/3,2,0.132
BMW 3 Series,4,3,2,3,1,4,0.362
Hyundai Solaris,1,1/2,1/3,1/2,1/4,1,0.074

#### Максимальное собственное значение: $\lambda_{max} = 6.0413$

#### Индекс согласованности: ИС = 0.0083

#### Отношение согласованности: ОС = 0.0067

Файл успешно сохранён: out\Матрица_Альтернатив_Безопасность.xlsx

### Критерий: Дизайн

#### Матрица парных сравнений для третьего уровня доминантной иерархии для Дизайн с векторами приоритетов

,Kia Rio,Volkswagen Golf,Toyota Corolla,Skoda Octavia,BMW 3 Series,Hyundai Solaris,Вектор приоритетов
Kia Rio,1,1/3,1/2,1/2,1/4,1,0.074
Volkswagen Golf,3,1,2,2,1/2,3,0.228
Toyota Corolla,2,1/2,1,1,1/3,2,0.132
Skoda Octavia,2,1/2,1,1,1/3,2,0.132
BMW 3 Series,4,2,3,3,1,4,0.362
Hyundai Solaris,1,1/3,1/2,1/2,1/4,1,0.074

#### Максимальное собственное значение: $\lambda_{max} = 6.0413$

#### Индекс согласованности: ИС = 0.0083

#### Отношение согласованности: ОС = 0.0067

Файл успешно сохранён: out\Матрица_Альтернатив_Дизайн.xlsx

### Критерий: Комфорт

#### Матрица парных сравнений для третьего уровня доминантной иерархии для Комфорт с векторами приоритетов

,Kia Rio,Volkswagen Golf,Toyota Corolla,Skoda Octavia,BMW 3 Series,Hyundai Solaris,Вектор приоритетов
Kia Rio,1,1/2,1/3,1/2,1/4,1,0.074
Volkswagen Golf,2,1,1/2,1,1/3,2,0.132
Toyota Corolla,3,2,1,2,1/2,3,0.228
Skoda Octavia,2,1,1/2,1,1/3,2,0.132
BMW 3 Series,4,3,2,3,1,4,0.362
Hyundai Solaris,1,1/2,1/3,1/2,1/4,1,0.074

#### Максимальное собственное значение: $\lambda_{max} = 6.0413$

#### Индекс согласованности: ИС = 0.0083

#### Отношение согласованности: ОС = 0.0067

Файл успешно сохранён: out\Матрица_Альтернатив_Комфорт.xlsx

### Критерий: Мощность

#### Матрица парных сравнений для третьего уровня доминантной иерархии для Мощность с векторами приоритетов

,Kia Rio,Volkswagen Golf,Toyota Corolla,Skoda Octavia,BMW 3 Series,Hyundai Solaris,Вектор приоритетов
Kia Rio,1,1/3,1/2,1/2,1/4,1,0.074
Volkswagen Golf,3,1,2,2,1/2,3,0.228
Toyota Corolla,2,1/2,1,1,1/3,2,0.132
Skoda Octavia,2,1/2,1,1,1/3,2,0.132
BMW 3 Series,4,2,3,3,1,4,0.362
Hyundai Solaris,1,1/3,1/2,1/2,1/4,1,0.074

#### Максимальное собственное значение: $\lambda_{max} = 6.0413$

#### Индекс согласованности: ИС = 0.0083

#### Отношение согласованности: ОС = 0.0067

Файл успешно сохранён: out\Матрица_Альтернатив_Мощность.xlsx

### Критерий: Год выпуска

#### Матрица парных сравнений для третьего уровня доминантной иерархии для Год выпуска с векторами приоритетов

,Kia Rio,Volkswagen Golf,Toyota Corolla,Skoda Octavia,BMW 3 Series,Hyundai Solaris,Вектор приоритетов
Kia Rio,1,3,1/2,1,5,3,0.222
Volkswagen Golf,1/3,1,1/3,1/3,3,1,0.092
Toyota Corolla,2,3,1,2,7,3,0.333
Skoda Octavia,1,3,1/2,1,5,3,0.222
BMW 3 Series,1/5,1/3,1/7,1/5,1,1/3,0.039
Hyundai Solaris,1/3,1,1/3,1/3,3,1,0.092

#### Максимальное собственное значение: $\lambda_{max} = 6.1028$

#### Индекс согласованности: ИС = 0.0206

#### Отношение согласованности: ОС = 0.0166

Файл успешно сохранён: out\Матрица_Альтернатив_Год выпуска.xlsx

# Расчёт глобальных приоритетов

In [5]:
global_priorities = count_global_priorities(priority_vectors_criteria['Вектор приоритетов'].to_numpy(), priority_vectors_alternatives)

global_priorities_columns = []

for i in range(number_criteria):
    global_priorities_columns.append(f"{names_criteria[i]} ({priority_vectors_criteria['Вектор приоритетов'].to_numpy()[i].round(3)})")

global_priorities_df = pd.DataFrame(
    data=np.column_stack(priority_vectors_alternatives),
    columns=global_priorities_columns,
    index=names_alternatives
)

global_priorities_df['Глобальные приоритеты выбора'] = global_priorities
display(Markdown(f"#### Матрица глобальных приоритетов"))
display(global_priorities_df)
save_global_priorities_to_excel(global_priorities_df, 'Глобальные приоритеты')
display(HTML("<hr>"))

#### Матрица глобальных приоритетов

,Стоимость ТС (0.328),Стоимость обслуживания ТС (0.159),Надёжность (0.232),Безопасность (0.107),Дизайн (0.048),Комфорт (0.071),Мощность (0.033),Год выпуска (0.023),Глобальные приоритеты выбора
Kia Rio,0.276,0.179,0.097,0.074,0.074,0.074,0.074,0.222,0.166
Volkswagen Golf,0.092,0.101,0.059,0.132,0.228,0.132,0.228,0.092,0.104
Toyota Corolla,0.157,0.316,0.249,0.228,0.132,0.228,0.132,0.333,0.218
Skoda Octavia,0.157,0.179,0.157,0.132,0.132,0.132,0.132,0.222,0.155
BMW 3 Series,0.043,0.045,0.379,0.362,0.362,0.362,0.362,0.039,0.204
Hyundai Solaris,0.276,0.179,0.059,0.074,0.074,0.074,0.074,0.092,0.154

Файл успешно сохранён: out\Глобальные приоритеты.xlsx